<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoogleWaveNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GoogleWaveNotifier.Properties.Settings>
            <setting name="UsernameEnc" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordEnc" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckIntervalMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PlaySounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SingleClickForcesCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HasImportedPreviousSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreferredCulture" serializeAs="String">
                <value>Windows Default</value>
            </setting>
            <setting name="PreferredBrowser" serializeAs="String">
                <value>Default Browser</value>
            </setting>
            <setting name="BalloonTimeoutSeconds" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUsernameEnc" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPasswordEnc" serializeAs="String">
                <value />
            </setting>
            <setting name="WaveUrl" serializeAs="String">
                <value>http://wave.google.com/</value>
            </setting>
        </GoogleWaveNotifier.Properties.Settings>
    </userSettings>
</configuration>